
.BaseLayout
  display: flex
  flex-direction: column

  background-color: #242658

  &-content
    display: flex
    flex-grow: 1

    padding: 60px 80px

    > *:not(:last-child)
      margin-right: 6px
