@import '~@styles/reference/module'

.BaseLayout
  display: flex
  flex-direction: column

  background-image: url("~@assets/images/Background.png")

  +themify
    background-color: color('background')

  &-content
    display: grid
    grid-template-columns: 1fr auto 1fr
    grid-gap: 10px
    justify-items: end
    align-items: start

    flex-grow: 1

    padding: 60px 80px
