@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700&display=swap')

// Font-face Definitions
// ---------------------

@font-face
  font-family: "Sushi"
  font-weight: 400
  font-style: normal
  src: url("~/assets/fonts/Sushi.woff") format("woff")


// Basic typography rules
// ----------------------

body
  font-family: $base-font-family
  font-size: 12px
  color: #38709D

.text
  line-height: 22px

  &.-pink
    color: #CE6389

.list
  line-height: 20px

em
  font-style: normal
  color: #CE636A
